body {
    background-image: url('https://64.media.tumblr.com/55b3a4f1a1e17522d99acfc390884265/fa6b956b8965caed-24/s2048x3072/50803ae70bbbb5759638494524735eddd7083728.gifv');
    background-size: contain;
    background-repeat: no-repeat;
}
